<div class="container-fluid">
    <div class="row">
        <div class="chartsModal" ng-show="showChartsModal">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="barGraphContainer" style="width: 400px; height: 250px; margin: 0 auto;"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="pieGraphContainer" style="width: 400px; height: 250px; margin: 0 auto;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>