<div ng-include="'templates/partials/_top_nav.html'"></div>

	<div class="container main-container"
		 ng-controller="teslaBaseController"> <!-- MAIN CONTAINER -->
		<div class="container-fluid">
			<div class="row">
			    <div class="chartsModal" ng-show="showChartsModal">
				    <div class="modal-content">
					      <div class="modal-body">
					      	<div class="row">
					      		<div class="col-md-6">
					        		<div id="barGraphContainer" style="width: 400px; height: 250px; margin: 0 auto;"></div>
					        	</div>
						        <div class="col-md-6">
						        	<div id="pieGraphContainer" style="width: 400px; height: 250px; margin: 0 auto;"></div>
						        </div>
					        </div>
					      </div>
				    </div>
			    </div>
			</div>
		</div>

		<div id="map-canvas"></div>

		<div class="container-fluid" id="table-container" ng-show="panel_display.client_table" ng-cloak>
            <div class="row" style="margin-left: 15px;margin-right: 15px;" >
                <div class="col-mod-12">
                    <div class="panel panel-default">
                        <div class="panel-heading table-heading">
                            <h3 class="panel-title">
                                <img src="images/tesla-partlist.png" alt="Tesla Part List" />
                            </h3>
							<div id="chartsToggle" class="toggleCharts" charts-status="off" ng-model="chartsFlag" ng-click="chartsFlagListener()">
								<span class="TeslaBlack glyphicon glyphicon-stats"></span>
								<span class="TeslaRed glyphicon glyphicon-stats" style="display:none;"></span>
							</div>
							<div class="pullupTable" pullup-status="off">
								<span class="showup glyphicon glyphicon-chevron-up"></span>
								<span class="showdown glyphicon glyphicon-chevron-down" style="display:none;"></span>
							</div>
							</div>
							<div class="clients_table" ng-show="clients_table_body_display">
								<table class="table table-condensed tabled-striped" style="font-size: x-small; margin-bottom: 0px;">
									<thead>
										<tr>
											<th ng-click="clients_order_by_field = 'PartNumber'; clients_reverse_sort = !clients_reverse_sort;  _begin_update_clients_listing();" class="sortable_column">
												Product
												<span class="pull-right" ng-show="clients_order_by_field != 'PartNumber'"><i class="fa fa-sort"></i></span>
												<span class="pull-right" ng-show="clients_order_by_field == 'PartNumber' && clients_reverse_sort == false"><i class="fa fa-sort-asc"></i></span>
												<span class="pull-right" ng-show="clients_order_by_field == 'PartNumber' && clients_reverse_sort == true"><i class="fa fa-sort-desc"></i></span>
											</th>
											<th ng-click="clients_order_by_field = 'Material'; clients_reverse_sort = !clients_reverse_sort;  _begin_update_clients_listing();" class="sortable_column">
												Material
												<span class="pull-right" ng-show="clients_order_by_field != 'Material'"><i class="fa fa-sort"></i></span>
												<span class="pull-right" ng-show="clients_order_by_field == 'Material' && clients_reverse_sort == false"><i class="fa fa-sort-asc"></i></span>
												<span class="pull-right" ng-show="clients_order_by_field == 'Material' && clients_reverse_sort == true"><i class="fa fa-sort-desc"></i></span>
											</th>
											<th ng-click="clients_order_by_field = 'Gauge'; clients_reverse_sort = !clients_reverse_sort;  _begin_update_clients_listing();" class="sortable_column">
												Gauge
												<span class="pull-right" ng-show="clients_order_by_field != 'Gauge'"><i class="fa fa-sort"></i></span>
												<span class="pull-right" ng-show="clients_order_by_field == 'Gauge' && clients_reverse_sort == false"><i class="fa fa-sort-asc"></i></span>
												<span class="pull-right" ng-show="clients_order_by_field == 'Gauge' && clients_reverse_sort == true"><i class="fa fa-sort-desc"></i></span>
											</th>
											<th ng-click="clients_order_by_field = 'Volume'; clients_reverse_sort = !clients_reverse_sort; _begin_update_clients_listing();" class="sortable_column">
												Volume
												<span class="pull-right" ng-show="clients_order_by_field != 'Volume'"><i class="fa fa-sort"></i></span>
												<span class="pull-right" ng-show="clients_order_by_field == 'Volume' && clients_reverse_sort == false"><i class="fa fa-sort-asc"></i></span>
												<span class="pull-right" ng-show="clients_order_by_field == 'Volume' && clients_reverse_sort == true"><i class="fa fa-sort-desc"></i></span>
											</th>
											<th ng-click="clients_order_by_field = 'MODEL'; clients_reverse_sort = !clients_reverse_sort; _begin_update_clients_listing();" class="sortable_column">
												Model
												<span class="pull-right" ng-show="clients_order_by_field != 'MODEL'"><i class="fa fa-sort"></i></span>
												<span class="pull-right" ng-show="clients_order_by_field == 'MODEL' && clients_reverse_sort == false"><i class="fa fa-sort-asc"></i></span>
												<span class="pull-right" ng-show="clients_order_by_field == 'MODEL' && clients_reverse_sort == true"><i class="fa fa-sort-desc"></i></span>
											</th>
											<th ng-click="clients_order_by_field = 'Coil_Supplier'; clients_reverse_sort = !clients_reverse_sort; _begin_update_clients_listing();" class="sortable_column">
												Coil Supplier
												<span class="pull-right" ng-show="clients_order_by_field != 'Coil_Supplier'"><i class="fa fa-sort"></i></span>
												<span class="pull-right" ng-show="clients_order_by_field == 'Coil_Supplier' && clients_reverse_sort == false"><i class="fa fa-sort-asc"></i></span>
												<span class="pull-right" ng-show="clients_order_by_field == 'Coil_Supplier' && clients_reverse_sort == true"><i class="fa fa-sort-desc"></i></span>
											</th>
											<th ng-click="clients_order_by_field = 'Stamping_Supplier'; clients_reverse_sort = !clients_reverse_sort; _begin_update_clients_listing();" class="sortable_column">
												Stamping Supplier
												<span class="pull-right" ng-show="clients_order_by_field != 'Stamping_Supplier'"><i class="fa fa-sort"></i></span>
												<span class="pull-right" ng-show="clients_order_by_field == 'Stamping_Supplier' && clients_reverse_sort == false"><i class="fa fa-sort-asc"></i></span>
												<span class="pull-right" ng-show="clients_order_by_field == 'Stamping_Supplier' && clients_reverse_sort == true"><i class="fa fa-sort-desc"></i></span>
											</th>
										</tr>
										<tr>
											<th><input class="form-control input-sm" type="text" placeholder="filter Product#" style="margin-bottom: 0px;" ng-model="search_clients.PartNumber" ng-change="search_clients_update()"></th>
											<th><input class="form-control input-sm" type="text" placeholder="filter Material" style="margin-bottom: 0px;" ng-model="search_clients.Material" ng-change="search_clients_update()"></th>
											<th><input class="form-control input-sm" type="text" placeholder="filter Gauge" style="margin-bottom: 0px;" ng-model="search_clients.Gauge" ng-change="search_clients_update()"></th>
											<th><input class="form-control input-sm" type="text" placeholder="filter Volume" style="margin-bottom: 0px;" ng-model="search_clients.Volume" ng-change="search_clients_update()"></th>
											<th><input class="form-control input-sm" type="text" placeholder="filter Model" style="margin-bottom: 0px;" ng-model="search_clients.MODEL" ng-change="search_clients_update()"></th>
											<th><input class="form-control input-sm" type="text" placeholder="filter Coil" style="margin-bottom: 0px;" ng-model="search_clients.Coil_Supplier" ng-change="search_clients_update()"></th>
											<th><input class="form-control input-sm" type="text" placeholder="filter Stamping" style="margin-bottom: 0px;" ng-model="search_clients.Stamping_Supplier" ng-change="search_clients_update()"></th>
										</tr>
									</thead>

									<tbody style="cursor: pointer;">
									   <tr ng-repeat="c in processedClients | limitTo: clients_per_page"
                                           ng-class="highlighted_rows[c.PartNumber]"
                                           ng-click="report_PartNumberSelected_EventHandler(c)">
											<td>{{ c.PartNumber  	   }}</td>
											<td>{{ c.Material 	   	   }}</td>
											<td>{{ c.Gauge	   	   	   }}</td>
											<td>{{ c.Volume  	   	   }}</td>
											<td>{{ c.MODEL		   	   }}</td>
											<td>{{ c.Coil_Supplier 	   }}</td>
											<td>{{ c.Stamping_Supplier }}</td>
										</tr>
									</tbody>
								</table>

								<div class="clients_selector_pagination" style="padding: 5px;">
									<div style="font-size: x-small; margin-bottom: 10px;">
										<span>
											Page {{ clients_current_page }} 0f {{ max_pages }}
										</span>
									</div>
									<div class="btn-group btn-group-xs">
										<button id="grid_view_prev_page_btn" class="btn btn-info" ng-disabled="disablePrev" ng-click="Clients_PrevPage()">
											&larr; Prev
										</button>
										<button id="grid_view_next_page_btn" class="btn btn-info" ng-disabled="disableNext" ng-click="Clients_NextPage()">
												   Next &rarr;
										</button>
										
										<button id="grid_view_reset_page_btn" class="btn btn-info right" ng-click="RefresherOrb()">
												   Clear Filters 
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>




